// Colors
$color-primary: #e76f51;
$color-secondary: #3b3735;
$color-grey: #8d8d8d;
$color-white: #ffffff;

$bg-color-1: #FAF4F2;
$bg-color-2: #F8E1DB;

// Fonts
$roboto: 'Roboto', sans-serif;
$archivo: 'Archivo', sans-serif;

// Size
$border-radius: 20px;
$container: 1140px;